.grid-container {
  display: grid;
  min-width: 100%;
  border: 1px solid #ccc;
  min-height: 375px;
}

.grid-container .grid-item {
  background-color: white;
  border: 1px solid #eee;
  overflow: hidden; 
}

.grid-container .lab-container.grid-item {
  background-color: #00D1FD;
  border: 1px solid #009DC9;
}

.grid-container .empty.grid-item:hover,
.grid-container .empty.grid-item:active {
  background-color: rgb(0,210,250);
  border: 1px solid rgb(0,160,200);
}

.grid-container .selected.empty.grid-item {
  background-color: rgb(0,210,250);
  border: 1px solid rgb(0,160,200);
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .grid-container {
    min-height: 546px;
  }  
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}