.App .viewport-container {
	/* display:table; */
	width:100%;
	background: linear-gradient( rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.0) ), url('./images/biobricks-bkg.jpg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
  min-height: calc(100vh - 60px - 60px - 5px);
  padding: 16px 0;
}


.card {
  border-color: rgb(4, 32, 13);
}

.bg-dark-green, .dropdown-menu {
	background-color: rgb(23,43,47) !important;
}

.dropdown-divider {
	border-color: rgb(76,106,52);
}

p.card-text {
	font-size: 1.2em;
}

.mdi-lg {
	font-size: 1.2em;
}

.mdi-xl {
	font-size: 1.1em;
	margin-right: 10px;
}

.btn-xs {
	padding: .25rem .5rem;
	font-size: .875rem;
	line-height: 1.5;
	border-radius: .2rem;
}

.card-title span{
	font-size: 1.75em;
}

button.dropdown-item:hover {
	cursor: pointer;
}

.dropdown-menu {
	padding: 0;
}

.join-request span {
	font-size: 1.3em;
}

.rbt-input,
.rbt-menu.dropdown-menu {
	border-radius: 0px;
}

ol.breadcrumb {
	margin-bottom: 0;
}

.btn-warning {
	background-color: rgb(161,113,40) !important;
	border-color: rgb(147,80,32) !important;
	color: white;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;
}

.no-gutters > .col,
.no-gutters > [class*="col-"] {
	padding-right: 0;
	padding-left: 0;
}