.App .viewport-container {
	/* display:table; */
	width:100%;
	background: linear-gradient( rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.0) ), url('./images/biobricks-bkg.jpg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
  min-height: calc(100vh - 60px - 60px - 5px);
  padding: 16px 0;
}


.card {
  border-color: rgb(4, 32, 13);
}

.bg-dark-green {
	background-color: rgb(23,43,47) !important;
}

p.card-text {
	font-size: 1.2em;
}

.mdi-lg {
	font-size: 1.2em;
}

.mdi-xl {
	font-size: 1.1em;
	margin-right: 10px;
}

.card-title span{
	font-size: 1.75em;
}

button.dropdown-item:hover {
	cursor: pointer;
}

.join-request span {
	font-size: 1.3em;
}

.rbt-input,
.rbt-menu.dropdown-menu {
	border-radius: 0px;
}

ol.breadcrumb {
	margin-bottom: 0;
}